body {
    font: 13px sans-serif;
}

h1 {
    text-align: center;
    font: 28px verdana;
    padding-bottom: 20px;
}

@media screen and (min-device-width: 400px) {
    div#showgrid {
        width: 400px;
        margin: auto;
    }
}


@media (min-device-width: 400px) {
    .cell {
        width: 130px;
        height: 130px;
        display: inline;
        float: left;
    }
}

#showgrid {
    text-align:center;
}

div.cell img {
    max-height: 75px;
    max-width: 75px;
    margin-top: 25px;
}

.row {
    width: 100%;
    margin: auto;
}

.v {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.h {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#message {
    padding-bottom: 30px;
    color: darkred;
    font: 20px bold verdana;
}

#spinner {
    padding-top: 30px;
}

#showgrid button {
    display: none;
    margin-bottom: 30px;
}

.loader {
    display: inline-block;
    margin-top: 100px;
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid black; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
